<nav>
    <div class="site-title">

        <a href="/"><h1>Project Backlog</h1></a>
    </div>
    <ul>
        <li><a href="/sort-by-date">Sort by Date</a></li>
        <li><a href="/sort">Sort by Priority</a></li>
        <li><a href="/">HOME</a></li>
    </ul>
</nav>