<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Ninja | <%=title %></title>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque voluptas tempora eius repellat molestias velit culpa possimus, cum aut repellendus, unde magnam quo nobis, ipsum dicta commodi et optio.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eius nobis totam impedit officiis dolorum ipsa tempore veritatis, officia aut in id labore facilis laborum velit ipsum quaerat perspiciatis cupiditate!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quam cupiditate voluptates magni incidunt, laudantium rem fugiat voluptatem nisi nesciunt possimus at aspernatur, eos ab, minus voluptas nulla nobis dolorem?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>